@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.circ {
    width: 10vh;
    height: 10vh;
    border: 6px solid white;
    border-radius: 100%;
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    /*line-height: 90px;*/
    margin: 1vw;
}
h5{
    font-family: Anton,sans-serif;
    font-weight: bold;
    font-size: 32px;

}


.card-button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2 {
    font-family: Anton,sans-serif;
    text-align: center;
    margin: 0;
}

.img-fluid{
    max-width: 100%;
    height: auto;
    border-radius: 2px;
    border: #E6E6E6 solid 5px;
    /*position: relative;*/
}
.image-list{
    height: 100px;
    width: 150px;
}
.list-tweet{
    margin: -100px 0 40px -45px;
    list-style: none;
}

.list-tweet2{
    list-style: none;
    margin-left: -50px;
}

.workSelected p {
    display: flex;
    justify-content: center;
}
.navbar-nav {
    margin-top: -10px;
}


@media screen and (max-width: 500px) {
    h1 {
        font-size: 65px;
    }

    h2{
        font-size: 40px;
    }

    .navbar-nav {
        margin-top: -10px;
    }

    .circ {
        width: 17vh;
        height: 17vh;
        border: 8px solid white;
        border-radius: 100%;
        display: flex;
        /*flex-direction: row;*/
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        /*line-height: 90px;*/
        margin: 4vw;
    }
    .workSelected p {
        padding-left: 100px;
    }
    .container{
        margin: auto;
    }
}